<nav class="bg-transparent">
  <div class="px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
        <!-- Mobile menu button-->
        <button onclick="toggleMenu()" class="inline-flex items-center justify-center p-2 text-gray-400 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white" aria-label="Main menu" aria-expanded="false">
          <!-- Icon when menu is closed. -->
          <!-- Menu open: "hidden", Menu closed: "block" -->
          <svg id="menuclosed" class="block w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!-- Icon when menu is open. -->
          <!-- Menu open: "block", Menu closed: "hidden" -->
          <svg id="menuopen" class="hidden w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex items-center justify-start flex-grow">
        <div class="flex-shrink-0 ml-10 md:ml-0">
            <a class="block lg:hidden text-white" href="{{@site.url}}">
              {{#if @site.icon}}
                  <img class="w-auto h-8" src="{{img_url @site.icon size="xs"}}" alt="{{@site.title}}" />
              {{else}}
                  {{@site.title}}
              {{/if}}
            </a>
            <a class="hidden lg:block text-white" href="{{@site.url}}">
              {{#if @site.logo}}
                  <img class="w-auto h-8" src="{{img_url @site.logo size="xs"}}" alt="{{@site.title}}" />
              {{else}}
                  {{@site.title}}
              {{/if}}
            </a>
        </div>
        <div class="hidden md:block md:ml-6">
          <div class="flex">
            <!-- Loop through the navigation items -->
            {{#foreach navigation}}
              {{#if current}}
                <a href="{{url absolute="true"}}" class="px-3 py-2 text-sm font-bold leading-5 text-white transition duration-150 ease-in-out rounded-md focus:outline-none focus:text-white focus:bg-gray-700">{{label}}</a>
              {{else}}
                <a href="{{url absolute="true"}}" class="px-3 py-2 ml-4 text-sm font-medium leading-5 text-gray-300 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">{{label}}</a>
              {{/if}}
            {{/foreach}}
            <!-- End the loop -->
          </div>
        </div>
        <div class="block md:hidden md:ml-6">
            <div class="flex">
                <!-- Loop through the navigation items -->
                {{#foreach navigation}}
                {{#if current}}
                <p class="px-3 py-2 ml-4 text-sm font-medium leading-5 text-gray-300 rounded-md">{{label}}</a>
                    {{/if}}
                    {{/foreach}}
                    <!-- End the loop -->
            </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        {{#if @site.facebook}}
        <a href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener" class="fill-current w-10 h-10 p-1 text-gray-400 transition duration-150 ease-in-out border-2 border-transparent rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-gray-700" >{{> "icons/facebook"}}</a>
        {{/if}}
        {{#if @site.twitter}}
        <a href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener" class="fill-current w-10 h-10 p-1 text-gray-400 transition duration-150 ease-in-out border-2 border-transparent rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-gray-700" >{{> "icons/twitter"}}</a>
        {{/if}}
        <a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener" class="fill-current w-10 h-10 p-1 text-gray-400 transition duration-150 ease-in-out border-2 border-transparent rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-gray-700" >{{> "icons/rss"}}</a>
      </div>
    </div>
  </div>

  <!--
    Mobile menu, toggle classes based on menu state.

    Menu open: "block", Menu closed: "hidden"
  -->
  <div id="mobilemenu" class="hidden sm:hidden">
    <div class="px-2 pt-2 pb-3">
      <!-- Loop through the navigation items -->
      {{#foreach navigation}}
        {{#if current}}
          <a href="{{url absolute="true"}}" class="block px-3 py-2 text-base font-medium text-white transition duration-150 ease-in-out bg-gray-900 rounded-md focus:outline-none focus:text-white focus:bg-gray-700">{{label}}</a>
        {{else}}
          <a href="{{url absolute="true"}}" class="block px-3 py-2 mt-1 text-base font-medium text-gray-300 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">{{label}}</a>
        {{/if}}
      {{/foreach}}
      <!-- End the loop -->
    </div>
  </div>
</nav>

<script>
function toggleMenu() {
  var menuclosed = document.getElementById("menuclosed");
  menuclosed.classList.toggle("block");
  menuclosed.classList.toggle("hidden");
  var menuopen = document.getElementById("menuopen");
  menuopen.classList.toggle("block");
  menuopen.classList.toggle("hidden");
  var mobilemenu = document.getElementById("mobilemenu");
  mobilemenu.classList.toggle("block");
  mobilemenu.classList.toggle("hidden");
}
</script>